<header>
  <img
   src="assets/img/marcelo.jpg"
   alt="Marcelo Oliveira - Perfil Photo"
   width="130"
   height="130"
   loading="eager"
  />
  <h1>Marcelo Oliveira</h1>
</header>
<aside>
  <div class="container">
    <p>HTML5 | JavaScript | CSS3 | Angular</p>
    <p>Ribeirão Pires, São Paulo, Brasil</p>
    <p>
      Starting my carreer in the development area.
    </p>
    <nav>
      <ul>
        <li>
          <a href="assets/pdf/Marcelo_Oliveira-RM-07.24.pdf" target="_blank" class="btn btn-primary">Download CV</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/marcelo-oliveira-b762921a4/" target="_blank" class="btn btn-secondary">LinkedIn</a>
        </li>
      </ul>
    </nav>
    <section>
      <figure>
        <img
         src="assets/icons/whatsapp2.svg"
         alt="Ícone para contato do Whatsapp"
         width="30px"
         height="32px"/>
         <figcaption>
          <a
           href="https://api.whatsapp.com/send?phone=5511960226145&text=Ol%C3%A1%20Marcelo,%20preciso%20de%20um%20orçamento!"
           target="_blank"
           >
           <strong>Envie uma mensagem para:</strong>
           <p>Whatsapp: (11) 96022-6145</p>
          </a>
         </figcaption>
      </figure>
      <figure>
        <img
         src="assets/icons/mail2.svg"
         alt="Ícone para contato do E-mail"
         width="30px"
         height="32px"/>
         <figcaption>
          <a
           href="mailto:marcelo14axl@gmail.com"
           target="_blank"
           >
           <strong>Envie um e-mail para:</strong>
           <p>marcelo14axl&#64;gmail.com</p>
          </a>
         </figcaption>
      </figure>
    </section>
  </div>
</aside>
